* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

/*color*/
:root {
    --color1: #0c134c; /*สีนำเงินเข้ม*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

/*design grid view*/
/*gv_design*/

.gv_design {
    background-color: white;
    width: 100%;
    /*border-radius: 20px;*/
    border: hidden;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0px 5px;
    min-height: 40px;
    top: 45px;
}

    .gv_design th {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 5px;
        /*position: sticky;*/
        top: 50px;
    }

        .gv_design th:first-child {
            /*border-top-left-radius: 10px;*/
            border-left: none;
        }

        .gv_design th:last-child {
            /*border-top-right-radius: 10px;*/
            border-left: none;
            border-right: none;
        }

    .gv_design td {
        padding: 5px;
        border-right: 1px solid #ddd;
        border-top: hidden;
    }

        .gv_design td:first-child {
            border-left: none;
        }

        .gv_design td:last-child {
            border-right: none;
        }

    .gv_design tr:nth-child(even) {
        background-color: white;
    }

    .gv_design tr:nth-child(odd) {
        background-color: #ddd;
    }
/*   end gv design*/


/*side bar*/
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* ---------------------------------------------------
    Custom btn-info
----------------------------------------------------- */
#sidebarCollapse {
    background: var(--color1);
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--color1);
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: var(--color1);
    }

    #sidebar ul.components {
        padding: 20px 0;
        /*border-bottom: 1px solid #1c245b;*/
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #2F639D;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        /*background: #6d7fcc*/
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--color1);
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}
/*end side bar*/




/*login page*/
a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}
/* end login page*/
